# Install/update behavior
STEAM_UPDATE_ON_START=1
STEAMCMD_FORCE_PLATFORM_WINDOWS=1

# Runtime build args
WINEHQ_PACKAGE=winehq-stable

# Instance layout
SERVER_DATA_SUBDIR=windrose-main

# Headless X server
XVFB_DISPLAY=:99
XVFB_RUN_SCREEN=-screen 0 1024x768x24

# Optional overrides
WINEDEBUG=
SERVER_EXE_OVERRIDE=
GAME_ROOT_OVERRIDE=
